.attribution {
  top: 25%;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: hsl(229, 57%, 11%);
  color: white;
}

.bg-mobile {
  display: none;
}

.bg-desktop {
  width: inherit;
  background-image: url(./images/bg-desktop.png);
  position: absolute;
  height: 50%;
  bottom: 0;
  background-size: cover;
}

* {
  position: relative;
}

.wraper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.fylo {
  background-color: hsl(228, 56%, 26%);
  height: 200px;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-right: 150px;
  padding-left: 40px;
  justify-content: space-evenly;
  border-radius: 15px 120px 15px 15px;
}

.icons {
  display: flex;
}

.icons img {
  background-color: hsl(229, 57%, 11%);
  margin-left: 0;
  margin-right: 20px;
  padding: 15px;
  border-radius: 10px;
}

.usage {
  position: relative;
  background-color: hsl(228, 56%, 26%);
  width: fit-content;
  padding: 30px;
  border-radius: 15px;
  color: hsl(243, 100%, 93%);
}

.range-bar {
  background-color: hsl(229, 57%, 11%);
  width: 455px;
  height: 18px;
  border-radius: 20px;
  border: 1px hsl(229, 57%, 11%) solid;
  margin-top: 20px;
  margin-bottom: 10px;
}

.progress {
  height: 18px;
  width: 70.5%;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  border-radius: 10px;
}

.range-bar::after {
  content: "";
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 67%;
  top: 17%;
}

.usage span {
  color: white;
  font-weight: 600;
}

.size {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.window {
  position: absolute;
  background-color: white;
  width: 175px;
  height: 70px;
  bottom: 125px;
  left: 59%;
  border-radius: 10px;
  color: hsl(229, 7%, 55%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px;

}

.window::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-top: 40px solid white;
  position: absolute;
  left: 145px;
  top: 60px;
}

.window > span {
  color: hsl(229, 57%, 11%);
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 800px) {
  .bg-desktop {
    display: none;
  }
  .bg-mobile {
    display: inline-flex;
    width: inherit;
    background-image: url(./images/bg-mobile.png);
    position: absolute;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
  }

  .wraper {
    justify-content: normal;
  }

  .container {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .fylo {
    padding-right: 65px;
  }

  .range-bar {
    width: auto;
  }
  .range-bar::after {
    left: 64%;
    top: 15%;
  }

  .window {
    left: 20%;
    top: 125px;
    height: 55px;
  }

  .window::after {
    display: none;
  }
}
